<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>{{title}}</title>

	{{!-- js for hamburger nav drop down --}}
	<script type="text/javascript" src="/javascript/hamburger.js"></script>

	{{!-- bulma --}}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

	{{!-- font awesome --}}
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

	{{!-- jquery 3.4.1 --}}
	<script
		src="https://code.jquery.com/jquery-3.4.1.js"
		integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
		crossorigin="anonymous">
	</script>

	{{!-- my css file --}}
	<link rel="stylesheet" href="/stylesheets/style.css">

	{{!-- passport js stuffs --}}
    <script type="text/javascript" src="/javascripts/file.js"></script>


</head>

{{!-- nav bar --}}
<nav class="navbar has-background-info" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a href="/">
			<img src="/images/logos/logo-crop2.png" alt="James Day" width="112" height="28">
		</a>

		<a role="button" class="navbar-burger burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>            
			<span aria-hidden="true"></span>                      
		</a>
	</div>  

	<div class="navbar-menu" id="navMenu">
		<a class="navbar-item" href="/"> Home </a>
		<a class="navbar-item" href="/about"> About </a>
		<a class="navbar-item" href="/projects"> Projects </a>
		<a class="navbar-item" href="https://github.com/dayjames12">
			<span class="icon is-large">
				<i class="fab fa-github fa-2x"></i>
			</span>
		</a>
		<a class="navbar-item"href="https://www.linkedin.com/in/james-day-b2001011b/">
			<span class="icon is-large">
				<i class="fab fa-linkedin fa-2x"></i>
			</span>
		</a>
	</div>      
</nav>

{{!-- body --}}
	<body class="">
		{{{body}}}
	</body>
</html>

