<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script type="text/javascript" src="/javascript/file.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="jquery-3.4.1.min.js"></script>
    <script>
    $(document).ready(function() {
        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function() {

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");

        });
    });
</script>

    <title>{{{title}}}</title>
</head>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="/">
                <img src="/images/logos/logo-crop.png" alt="James Day" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger burger is-active" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>            
            </a>
        </div>  

        <div class="navbar-menu is-active">
            <a class="navbar-item" href="/"> Home </a>
            <a class="navbar-item" href="/about"> About </a>
            <a class="navbar-item" href="/projects"> Projects </a>
        </div>      

    </nav>

    <body>
        {{{body}}}
    </body>
</html>

