<body>
  {{!-- title --}}
  <section class="hero is-dark">
    <div class="hero-body has-text-centered">
      <h1 class="title">
        CSC 651 Database Final Course Project
      </h1>
      <h1 class="subtitle">
        <strong>Student Name: James Day</strong><br>
        <strong>Student Id: 918587415</strong><br>
        <strong>Student Email: jday6@mail.sfsu.edu</strong>
      </h1>
    </div>
  </section>

  {{!-- Tabs Container  --}}
  <div class="main container">
    <div class="tabs is-centered">
      <ul>
        <li class="tab_links " onclick="openTab(event,'search')"><a>Search</a></li>
        <li class="tab_links is-active" onclick="openTab(event,'insert')"><a>Insert</a></li>
        <li class="tab_links " onclick="openTab(event,'update')"><a>Update</a></li>
        <li class="tab_links " onclick="openTab(event,'account')"><a>Account</a></li>
        <li class="tab_links "><a href="/database/logout">Logout</a></li>
      </ul>
    </div>

    <div id="search" class="tab_content" >
      <div class="block column is-three-fifths is-offset-one-fifth"> 
        <h2 class="is-size-2">Search</h2> 
        <button class="button is-danger" id="btn" type="submit">test select all</button>
      </div>
    </div>

    <div id="insert" class="tab_content">
      <div class="block column is-three-fifths is-offset-one-fifth">  
        <h2 class="is-size-2">Insert</h2>    
        <form id="insert_table_form" style="padding-bottom:10px;">
          <div class="field">
            <label class="label">Select Table</label>
            <p class="control">
              <span class="select">
                <select id="insert_table_select">
                  <option value="blank" selected="selected"></option>
                  <option value="car">Car</option>
                  <option value="car_features">Car Features</option>
                  <option value="car_type">Car Type</option>
                  <option value="customer">Customer</option>
                  <option value="customer_preference">Customer Preference</option>
                  <option value="employee">Employee</option>
                  <option value="loaner_cars">Loaner Cars</option>                  
                  <option value="mechanic">Mechanic</option>
                  <option value="parts">Parts</option>
                  <option value="parts_employee">Parts Employee</option>
                  <option value="parts_used">Parts Used</option>
                  <option value="rented_cars">Rented Cars</option>
                  <option value="repair">Repairs</option>
                  <option value="sales">Sales</option>            
                  <option value="sales_employee">Sales Employee</option>                  
                  <option value="service_manager">Service Manager</option>                  
                  <option value="trade_in">Trade In</option>                  
                </select>
              </span>
            </p>
          </div>
        </form>

        <form name="blank" id="blank" style="display:none"></form>   

        {{!-- car insert form --}}
        <form action="/insertCar" method="POST" name="car" id="car" style="display:none">
          <div class="field">
            <label class="label">License</label>
            <input type="text" id="license" class="input" name="license" placeholder="Enter License"
            oninput="forceUpperCase(event)">
          </div>

          <div class="field">
            <label class="label">Miles</label>
            <input type="text" class="input" name="mile" placeholder="Enter Miles">
          </div>

          <div class="field">
            <label class="label">Car Type ID</label>
            <input type="text" class="input" name="carTypeID" placeholder="Enter Car Type ID">
          </div>

          <div class="field">
            <button class="button is-outlined is-success is-light" type="submit" value="submit">Submit</button>
          </div>
        </form>   

        {{!-- car_features insert form --}}
        <form action="/insertCarFeature" method="POST" name="car_features" id="car_features" style="display:none">
          <div class="field">
            <label class="label">Car Type ID</label>
            <input type="text" class="input" name="carTypeID" placeholder="Enter Car Type ID">
          </div>

          <div class="field">
            <label class="label">Feature Name</label>
            <input type="text" class="input" name="featureName" placeholder="Enter Feature Name">
          </div>

          <div class="field">
            <label class="label">Cost</label>
            <input type="text"class="input" name="cost" placeholder="Enter Cost">
          </div>

          <div class="field">
            <label class="label">Description</label>
            <input type="textArea" class="input" name="description" placeholder="Enter Description">
          </div>

          <div class="field">
            <button class="button is-outlined is-success is-light is-light">Submit</button>
          </div>          
        </form>

        {{!-- car_type form --}}
        <form action="/insertCarType" method="POST" name="car_type" id="car_type" style="display:none">
          <div class="field">
            <label class="label">Year</label>
            <input type="text" class="input" name="year" placeholder="Enter Year">
          </div>

          <div class="field">
            <label class="label">Make</label>
            <input type="text" class="input" name="make" placeholder="Enter Make">
          </div>

          <div class="field">
            <label class="label">Model</label>
            <input type="text" class="input" name="model" placeholder="Enter Model">
          </div>

          <div class="field">
            <label class="label">Color</label>
            <input type="text" class="input" name="color" placeholder="Enter Color">
          </div>          

          <div class="field">
            <button class="button is-outlined is-success is-light">Submit</button>
          </div>          
        </form>       

        {{!-- customer insert form --}}
        <form action="/insertCustomer" method="POST" name="customer" id="customer" style="display:none">
          <div class="field">
            <label class="label">Name</label>
            <input type="text" class="input" name="name" placeholder="Enter Name">
          </div>

          <div class="field">
            <label class="label">Address</label>
            <input type="text" class="input" name="address" placeholder="Enter Address">
          </div>

          <div class="field">
            <label class="label">Phone Number</label>
            <input type="text" class="input" name="phone" placeholder="Enter Phone Number">
          </div>

          <div class="field">
            <button class="button is-outlined is-success is-light">Submit</button>
          </div>
        </form>   

        {{!-- customer_preference insert form --}}
        <form action="/insertCustomerPreference" method="POST" name="customer_preference" id="customer_preference" style="display:none">
          <div class="field">
            <label class="label">Customer ID</label>
            <input type="text" class="input" name="customerID" placeholder="Enter Customer ID">
          </div>

          <div class="field">
            <label class="label">Car Feature ID</label>
            <input type="text" class="input" name="carFeatureID" placeholder="Enter Car Feature ID">
          </div>

          <div class="field">
            <label class="label">Budget</label>
            <input type="text" class="input" name="budget" placeholder="Enter Budget">
          </div>

          <div class="field">
            <button class="button is-outlined is-success is-light">Submit</button>
          </div>
        </form>           

        {{!-- employee insert form --}}
        <form action="/insertEmployee" method="POST" name="employee" id="employee" style="display:none">
          <div class="field">
            <label class="label">Employee Name</label>
            <input type="text" class="input" name="name" placeholder="Enter Employee Name">
          </div>

          <div class="field">
            <label class="label">Date of birth</label>
            <input type="date" class="input" name="dob" placeholder="Enter Miles">
          </div>

          <div class="field">
            <label class="label">Hours</label>
            <input type="text" class="input" name="hours" placeholder="Enter Hours">
          </div>

          <div class="field">
            <button class="button is-outlined is-success is-light">Submit</button>
          </div>
        </form>   

        {{!-- loaner_cars insert form --}}
        <form action="/insertLoanerCar" method="POST" name="loaner_cars" id="loaner_cars" style="display:none">
          <div class="field">
            <label class="label">Car ID</label>
            <input type="text" class="input" name="carID" placeholder="Enter Car ID">
          </div>

          <div class="field">
            <button class="button is-outlined is-success is-light">Submit</button>
          </div>
        </form>   

        {{!-- mechanic insert form --}}
        <form action="/insertMechanic" method="POST" name="mechanic" id="mechanic" style="display:none">
          <div class="field">
            <label class="label">Employee ID</label>
            <input type="text" class="input" name="employeeID" placeholder="Enter Employee ID">
          </div>

          <div class="field">
            <button class="button is-outlined is-success is-light">Submit</button>
          </div>
        </form> 

        {{!-- parts insert form --}}
        <form action="/insertParts" method="POST" name="parts" id="parts" style="display:none">
          <div class="field">
            <label class="label">Cost</label>
            <input type="text" class="input" name="cost" placeholder="Enter cost">
          </div>

          <div class="field">
            <button class="button is-outlined is-success is-light">Submit</button>
          </div>
        </form> 

        {{!-- parts_employee insert form --}}
        <form action="/insertPartsEmployee" method="POST" name="parts_employee" id="parts_employee" style="display:none">
          <div class="field">
            <label class="label">Employee ID</label>
            <input type="text" class="input" name="employeeID" placeholder="Enter Employee ID">
          </div>

          <div class="field">
            <button class="button is-outlined is-success is-light">Submit</button>
          </div>
        </form> 

        {{!-- parts_used insert form --}}
        <form action="/insertPartsUsed" method="POST" name="parts_used" id="parts_used" style="display:none">
          <div class="field">
            <label class="label">Quantity</label>
            <input type="text" class="input" name="quantity" placeholder="Enter Quantity">
          </div>

          <div class="field">
            <label class="label">Cost</label>
            <input type="text" class="input" name="cost" placeholder="Enter Cost">
          </div>

          <div class="field">
            <label class="label">Part ID</label>
            <input type="text" class="input" name="partID" placeholder="Enter Part ID">
          </div>          

          <div class="field">
            <label class="label">Repair ID</label>
            <input type="text" class="input" name="repairID" placeholder="Enter Repair ID">
          </div>          

          <div class="field">
            <button class="button is-outlined is-success is-light">Submit</button>
          </div>
        </form> 

        {{!-- rented_cars insert form --}}
        <form action="/insertRentedCars" method="POST" name="rented_cars" id="rented_cars" style="display:none">
          <div class="field">
            <label class="label">Customer ID</label>
            <input type="text" class="input" name="customerID" placeholder="Enter Customer ID">
          </div>

          <div class="field">
            <label class="label">Loaner Car ID</label>
            <input type="text" class="input" name="loanerCarID" placeholder="Enter Loaner Car ID">
          </div>

          <div class="field">
            <button class="button is-outlined is-success is-light">Submit</button>
          </div>
        </form>         

        {{!-- repair insert form --}}
        <form action="/insertRepair" method="POST" name="repair" id="repair" style="display:none">
          <div class="field">
            <label class="label">Description</label>
            <input type="text" class="input" name="description" placeholder="Enter Description">
          </div>

          <div class="field">
            <label class="label">Cost</label>
            <input type="text" class="input" name="cost" placeholder="Enter Cost">
          </div>
          
          <div class="field">
            <label class="label">Car ID</label>
            <input type="text" class="input" name="carID" placeholder="Enter Car ID">
          </div>

          <div class="field">
            <label class="label">Mechanic ID</label>
            <input type="text" class="input" name="mechanicID" placeholder="Enter Mechanic ID">
          </div>

          <div class="field">
            <label class="label">Service Manager ID</label>
            <input type="text" class="input" name="serviceManagerID" placeholder="Enter Service Manager ID">
          </div>

          <div class="field">
            <label class="label">Customer ID</label>
            <input type="text" class="input" name="customerID" placeholder="Enter Customer ID">
          </div>

          <div class="field">
            <button class="button is-outlined is-success is-light">Submit</button>
          </div>
        </form>   

        {{!-- sales insert form --}}
        <form action="/insertSales" method="POST" name="sales" id="sales" style="display:none">
          <div class="field">
            <label class="label">Sales Employee ID</label>
            <input type="text" class="input" name="salesEmployeeID" placeholder="Enter Sales Employee ID">
          </div>

          <div class="field">
            <label class="label">Parts Employee ID</label>
            <input type="text" class="input" name="partsEmployeeID" placeholder="Enter Parts Employee ID">
          </div>
          
          <div class="field">
            <label class="label">Customer ID</label>
            <input type="text" class="input" name="customerID" placeholder="Enter Customer ID">
          </div>

          <div class="field">
            <label class="label">Car ID</label>
            <input type="text" class="input" name="carID" placeholder="Enter Car ID">
          </div>

          <div class="field">
            <label class="label">Trade In ID</label>
            <input type="text" class="input" name="tradeInID" placeholder="Enter Trade In ID">
          </div>

          <div class="field">
            <label class="label">Part ID</label>
            <input type="text" class="input" name="partID" placeholder="Enter Part ID">
          </div>

          <div class="field">
            <button class="button is-outlined is-success is-light">Submit</button>
          </div>
        </form>   

        {{!-- sales_employee insert form --}}
        <form action="/insertSalesEmployee" method="POST" name="sales_employee" id="sales_employee" style="display:none">
          <div class="field">
            <label class="label">Employee ID</label>
            <input type="text" class="input" name="employeeID" placeholder="Enter Employee ID">
          </div>

          <div class="field">
            <button class="button is-outlined is-success is-light">Submit</button>
          </div>
        </form>   

        {{!-- service_manager insert form --}}
        <form action="/insertServiceManager" method="POST" name="service_manager" id="service_manager" style="display:none">
          <div class="field">
            <label class="label">Employee ID</label>
            <input type="text" class="input" name="employeeID" placeholder="Enter Employee ID">
          </div>

          <div class="field">
            <button class="button is-outlined is-success is-light">Submit</button>
          </div>
        </form>   

        {{!-- trade_in insert form --}}
        <form action="/insertTradeIn" method="POST" name="trade_in" id="trade_in" style="display:none">
          <div class="field">
            <label class="label">Value</label>
            <input type="text" class="input" name="value" placeholder="Enter Value">
          </div>

          <div class="field">
            <label class="label">Customer ID</label>
            <input type="text" class="input" name="customerID" placeholder="Enter Customer ID">
          </div>
          
          <div class="field">
            <label class="label">Car ID</label>
            <input type="text" class="input" name="carID" placeholder="Enter Car ID">
          </div>

          <div class="field">
            <button class="button is-outlined is-success is-light">Submit</button>
          </div>
        </form>                                                   
        
      </div>
    </div>

    <div id="update" class="tab_content">
      <div class="block column is-three-fifths is-offset-one-fifth">   
        <h2 class="is-size-2">Update</h2>
      </div>
    </div>

    <div id="account" class="tab_content">
      <div class="block column is-three-fifths is-offset-one-fifth"> 
        <h2 class="is-size-2">Account</h2>
      </div>
    </div>
    <div class="block column is-three-fifths is-offset-one-fifth"> 
        <div id="table_container"></div>
      </div>
    
  </div>



</body>

<script type="text/javascript" src="/javascript/database.js"></script>


