<body>
  {{!-- title --}}
  <section class="hero is-dark has-text-left">
    <div class="hero-body is-dark">
      <h1 class="title">
        CSC 651 Database Final Course Project
      </h1>
      <h1 class="subtitle">
        <strong>Student Name: James Day</strong><br>
        <strong>Student Id: 918587415</strong><br>
        <strong>Student Email: jday6@mail.sfsu.edu</strong>
      </h1>
    </div>
  </section>

  {{!-- main section--}}
  <section>
    <div class="section">
      {{!-- <div class="block">
        <p class="content is-medium has-background-white">
          Create Account <br>
          Login <br>
          Search <br>
          Insert <br>
          Update <br>
          Delete <br>
          Exit (logout?)
        </p>
      </div> --}}

      {{!-- level --}}
      <div class="block">
        <nav class="level">
          {{!-- left side --}}
          <div class="level-left">
            <p class="level-item"><a href="">Create Account</a></p>
            <p class="level-item"><a href="">Login</a></p>
            <p class="level-item"><a href="">Search</a></p>
            <p class="level-item"><a href=""><strong>Insert</strong></a></p>
            <p class="level-item"><a href="">Update</a></p>
            <p class="level-item"><a href="">Delete</a></p>
            <p class="level-item"><a href="">Exit</a></p>
          </div>
          {{!-- right side --}}
          <div class="level-right">
            <div class="level-item">
              <div class="field">
                <p class="control">
                  <input type="text" class="input" placeholder="Search database...">
                </p>
              </div>
            </div>
          </div>
        </nav>
      </div>

      {{!-- ALL Insert Forms  --}}
      <div class="block">      

        <form id="insert_table_form" style="padding-bottom:10px;">
          <div class="field">
            <label class="label">Select Table for Insertion</label>
            <p class="control">
              <span class="select">
                <select id="insert_table_select">
                  <option value="blank" selected="selected"></option>
                  <option value="car">Car</option>
                  <option value="car_features">Car Features</option>
                  <option value="car_type">Car Type</option>
                  <option value="customer">Customer</option>
                  <option value="customer_preference">Customer Preference</option>
                  <option value="employee">Employee</option>
                  <option value="loaner_cars">Loaner Cars</option>                  
                  <option value="mechanic">Mechanic</option>
                  <option value="parts">Parts</option>
                  <option value="parts_employee">Parts Employee</option>
                  <option value="parts_used">Parts Used</option>
                  <option value="rented_cars">Rented Cars</option>
                  <option value="repair">Repairs</option>
                  <option value="sales">Sales</option>            
                  <option value="sales_employee">Sales Employee</option>                  
                  <option value="service_manager">Service Manager</option>                  
                  <option value="trade_in">Trade In</option>                  
                </select>
              </span>
            </p>
          </div>
        </form>

        {{!-- blank form --}}
        <form name="blank" id="blank"></form>

        {{!-- car insert form --}}
        <form name="car" id="car" style="display:none">
          <div class="field">
            <label class="label">License</label>
            <input type="text" class="input" placeholder="Enter License">
          </div>

          <div class="field">
            <label class="label">Miles</label>
            <input type="text" class="input" placeholder="Enter Miles">
          </div>

          <div class="field">
            <label class="label">carTypeID</label>
            <input type="text" class="input" placeholder="Enter Car Type ID">
          </div>

          <div class="field">
            <button class="button is-outlined is-success">Submit</button>
          </div>
        </form>   

        {{!-- car_features insert form --}}
        <form name="car_features" id="car_features" style="display:none">
          <div class="field">
            <label class="label">Car Type ID</label>
            <input type="text" class="input" placeholder="Enter Car Type ID">
          </div>

          <div class="field">
            <label class="label">Feature Name</label>
            <input type="text" class="input" placeholder="Enter Feature Name">
          </div>

          <div class="field">
            <label class="label">Cost</label>
            <input type="text" class="input" placeholder="Enter Cost">
          </div>

          <div class="field">
            <label class="label">Description</label>
            <input type="textArea" class="input" placeholder="Enter Description">
          </div>

          <div class="field">
            <button class="button is-outlined is-success">Submit</button>
          </div>          
        </form>

        {{!-- car_type form --}}
        <form name="car_type" id="car_type" style="display:none">
          <div class="field">
            <label class="label">Year</label>
            <input type="text" class="input" placeholder="Enter Year">
          </div>

          <div class="field">
            <label class="label">Make</label>
            <input type="text" class="input" placeholder="Enter Make">
          </div>

          <div class="field">
            <label class="label">Model</label>
            <input type="text" class="input" placeholder="Enter Model">
          </div>

          <div class="field">
            <label class="label">Color</label>
            <input type="text" class="input" placeholder="Enter Color">
          </div>          

          <div class="field">
            <button class="button is-outlined is-success">Submit</button>
          </div>          
        </form>       

        {{!-- customer insert form --}}
        <form name="customer" id="customer" style="display:none">
          <div class="field">
            <label class="label">Name</label>
            <input type="text" class="input" placeholder="Enter Name">
          </div>

          <div class="field">
            <label class="label">Address</label>
            <input type="text" class="input" placeholder="Enter Address">
          </div>

          <div class="field">
            <label class="label">Phone Number</label>
            <input type="text" class="input" placeholder="Enter Phone Number">
          </div>

          <div class="field">
            <button class="button is-outlined is-success">Submit</button>
          </div>
        </form>   

        {{!-- customer_preference insert form --}}
        <form name="customer_preference" id="customer_preference" style="display:none">
          <div class="field">
            <label class="label">Customer ID</label>
            <input type="text" class="input" placeholder="Enter Customer ID">
          </div>

          <div class="field">
            <label class="label">Car Feature ID</label>
            <input type="text" class="input" placeholder="Enter Car Feature ID">
          </div>

          <div class="field">
            <label class="label">Budget</label>
            <input type="text" class="input" placeholder="Enter Budget">
          </div>

          <div class="field">
            <button class="button is-outlined is-success">Submit</button>
          </div>
        </form>           

        {{!-- employee insert form --}}
        <form name="employee" id="employee" style="display:none">
          <div class="field">
            <label class="label">Employee Name</label>
            <input type="text" class="input" placeholder="Enter Employee Name">
          </div>

          <div class="field">
            <label class="label">Date of birth</label>
            <input type="date" class="input" placeholder="Enter Miles">
          </div>

          <div class="field">
            <label class="label">Hours</label>
            <input type="text" class="input" placeholder="Enter Hours">
          </div>

          <div class="field">
            <button class="button is-outlined is-success">Submit</button>
          </div>
        </form>   

        {{!-- loaner_cars insert form --}}
        <form name="loaner_cars" id="loaner_cars" style="display:none">
          <div class="field">
            <label class="label">Car ID</label>
            <input type="text" class="input" placeholder="Enter Car ID">
          </div>

          <div class="field">
            <button class="button is-outlined is-success">Submit</button>
          </div>
        </form>   

        {{!-- mechanic insert form --}}
        <form name="mechanic" id="mechanic" style="display:none">
          <div class="field">
            <label class="label">Mechanic</label>
            <input type="text" class="input" placeholder="Enter Employee ID">
          </div>

          <div class="field">
            <button class="button is-outlined is-success">Submit</button>
          </div>
        </form> 

        {{!-- parts insert form --}}
        <form name="parts" id="parts" style="display:none">
          <div class="field">
            <label class="label">Part ID</label>
            <input type="text" class="input" placeholder="Enter Part ID">
          </div>

          <div class="field">
            <button class="button is-outlined is-success">Submit</button>
          </div>
        </form> 

        {{!-- parts_employee insert form --}}
        <form name="parts_employee" id="parts_employee" style="display:none">
          <div class="field">
            <label class="label">Employee ID</label>
            <input type="text" class="input" placeholder="Enter Employee ID">
          </div>

          <div class="field">
            <button class="button is-outlined is-success">Submit</button>
          </div>
        </form> 

        {{!-- parts_used insert form --}}
        <form name="parts_used" id="parts_used" style="display:none">
          <div class="field">
            <label class="label">Quantity</label>
            <input type="text" class="input" placeholder="Enter Quantity">
          </div>

          <div class="field">
            <label class="label">Cost</label>
            <input type="text" class="input" placeholder="Enter Cost">
          </div>

          <div class="field">
            <label class="label">Part ID</label>
            <input type="text" class="input" placeholder="Enter Part ID">
          </div>          

          <div class="field">
            <label class="label">Repair ID</label>
            <input type="text" class="input" placeholder="Enter Repair ID">
          </div>          

          <div class="field">
            <button class="button is-outlined is-success">Submit</button>
          </div>
        </form> 

        {{!-- rented_cars insert form --}}
        <form name="rented_cars" id="rented_cars" style="display:none">
          <div class="field">
            <label class="label">Customer ID</label>
            <input type="text" class="input" placeholder="Enter Customer ID">
          </div>

          <div class="field">
            <label class="label">Loaner Car ID</label>
            <input type="text" class="input" placeholder="Enter Loaner Car ID">
          </div>

          <div class="field">
            <button class="button is-outlined is-success">Submit</button>
          </div>
        </form>         

        {{!-- repair insert form --}}
        <form name="repair" id="repair" style="display:none">
          <div class="field">
            <label class="label">Description</label>
            <input type="text" class="input" placeholder="Enter Description">
          </div>

          <div class="field">
            <label class="label">Cost</label>
            <input type="text" class="input" placeholder="Enter Cost">
          </div>
          
          <div class="field">
            <label class="label">Car ID</label>
            <input type="text" class="input" placeholder="Enter Car ID">
          </div>

          <div class="field">
            <label class="label">Mechanic ID</label>
            <input type="text" class="input" placeholder="Enter Mechanic ID">
          </div>

          <div class="field">
            <label class="label">Service Manager ID</label>
            <input type="text" class="input" placeholder="Enter Service Manager ID">
          </div>

          <div class="field">
            <label class="label">Customer ID</label>
            <input type="text" class="input" placeholder="Enter Customer ID">
          </div>

          <div class="field">
            <button class="button is-outlined is-success">Submit</button>
          </div>
        </form>   

        {{!-- sales insert form --}}
        <form name="sales" id="sales" style="display:none">
          <div class="field">
            <label class="label">Sales Employee ID</label>
            <input type="text" class="input" placeholder="Enter Sales Employee ID">
          </div>

          <div class="field">
            <label class="label">Parts Employee ID</label>
            <input type="text" class="input" placeholder="Enter Parts Employee ID">
          </div>
          
          <div class="field">
            <label class="label">Customer ID</label>
            <input type="text" class="input" placeholder="Enter Customer ID">
          </div>

          <div class="field">
            <label class="label">Car ID</label>
            <input type="text" class="input" placeholder="Enter Car ID">
          </div>

          <div class="field">
            <label class="label">Trade In ID</label>
            <input type="text" class="input" placeholder="Enter Trade In ID">
          </div>

          <div class="field">
            <label class="label">Part ID</label>
            <input type="text" class="input" placeholder="Enter Part ID">
          </div>

          <div class="field">
            <button class="button is-outlined is-success">Submit</button>
          </div>
        </form>   

        {{!-- sales_employee insert form --}}
        <form name="sales_employee" id="sales_employee" style="display:none">
          <div class="field">
            <label class="label">Employee ID</label>
            <input type="text" class="input" placeholder="Enter Employee ID">
          </div>

          <div class="field">
            <button class="button is-outlined is-success">Submit</button>
          </div>
        </form>   

        {{!-- service_manager insert form --}}
        <form name="service_manager" id="service_manager" style="display:none">
          <div class="field">
            <label class="label">Employee ID</label>
            <input type="text" class="input" placeholder="Enter Employee ID">
          </div>

          <div class="field">
            <button class="button is-outlined is-success">Submit</button>
          </div>
        </form>   

        {{!-- trade_in insert form --}}
        <form name="trade_in" id="trade_in" style="display:none">
          <div class="field">
            <label class="label">Value</label>
            <input type="text" class="input" placeholder="Enter Value">
          </div>

          <div class="field">
            <label class="label">Customer ID</label>
            <input type="text" class="input" placeholder="Enter Customer ID">
          </div>
          
          <div class="field">
            <label class="label">Car ID</label>
            <input type="text" class="input" placeholder="Enter Car ID">
          </div>

          <div class="field">
            <button class="button is-outlined is-success">Submit</button>
          </div>
        </form>                                                   

        {{!-- form examples --}}
        {{!-- <form> --}}
          {{!-- <div class="field"> --}}
            {{!-- <label class="label">Name</label> --}}
            {{!-- <input type="text" class="input data" placeholder="Enter name"> --}}
            {{!-- <button class="button is-success is-outlined" type="submit">Submit</button> --}}
          {{!-- </div> --}}
          
          {{!-- danger form field example --}}
          {{!-- <div class="field"> --}}
            {{!-- <label class="label">with danger</label> --}}
            {{!-- <input type="text" class="input is-danger" placeholder="Enter name"> --}}
          {{!-- </div> --}}

          {{!-- success form field example --}}
          {{!-- <div class="field"> --}}
            {{!-- <label class="label">with success</label> --}}
            {{!-- <input type="text" class="input is-success" placeholder="Enter name"> --}}
          {{!-- </div>                     --}}
        {{!-- </form> --}}
        
      </div>


      {{!-- tables --}}
      <div class="block">
        <table class="table is-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>James Day</td>
              <td>james@gmail.com</td>
              <td>111-111-1111</td>
            </tr>
            <tr>
              <td>Heaven Zeen</td>
              <td>heaven@gmail.com</td>
              <td>222-222-2222</td>
            </tr>
            <tr class="is-selected">
              <td>test1</td>
              <td>test1@gmail.com</td>
              <td>333-333-3333</td>
            </tr>      
            <tr>
              <td>test2</td>
              <td>test2@gmail.com</td>
              <td>444-444-4444</td>
            </tr>                    
          </tbody>
        </table>
      </div>      

      {{!-- pagination --}}
      <div class="block">
        <nav class="pagination">
          <a href="" class="pagination-previous" disabled>Previous</a>
          <a href="" class="pagination-next">Next</a>
            <ul class="pagination-list">
              <li>
                <a href="" class="pagination-link is-current">1</a>
              </li>
              <li>
                <a href="" class="pagination-link">2</a>              
              </li>
              <li>
                <a href="" class="pagination-link">3</a>              
              </li>            
            </ul>
        </nav>
      </div>


    </div>

  </section>

</body>

<script type="text/javascript" src="/javascript/database.js"></script>

