<body>
	<section class="section">
		<div class="container">
			<h1 class="title"> 404 Error </h1>	
			<p class="subtitle">
        <strong>Sorry, "{{{url}}}" was not Found</strong>!
				<h2>
					Back to home? ->
					<a href="/"> 
						<strong>HOME</strong>
					</a>
				</h2>

      </p>
		</div>
	</section>
</body>