

<body>
  <section class="hero is-dark has-text-left">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          404 Error
        </h1>
        <h2 class="subtitle">
          <strong>Sorry, "{{{url}}}" was not Found</strong>!
        </h2>
        <div class="block">
          <p class="content is-medium">
            Back to home? ->
            <a href="/" class="button is-info is-small is-outlined">
              Home
            </a>
          </p>

        </div>
        {{!-- <p>
			    Back to Home? ->
          <a href="/" class="has-text-danger">
            <strong>Home</strong>
          </a>
        </p> --}}
      </div>
    </div>
  </section>
</body>