<body>
  <section class="hero is-dark has-text-left">
    <div class="hero-body">
      <div class="container">

        <h1 class="title">
          About James Day
        </h1>

        <h2 class="subtitle">
          Welcome!
        </h2>

        <div class="block">
          <a href="/files/james-day-resume.pdf" class="button is-info is-outlined is-light">
            Resume
          </a>
        </div>

      </div>

    </div>
    
  </section>

</body>