<body>
  <section class="section">
    <div class="container">
      <h1 class="title"> CSC 651 Database Final Course Project </h1>
      <p class="subtitle">
        <strong>Student Name: James Day</strong><br>
        <strong>Student Id: 918587415</strong><br>
        <strong>Student Email: jday6@mail.sfsu.edu</strong>
      </p>
    </div>
  </section>
</body>