<body>
	<section class="section has-background-grey">
    	<div class="container ">
      		<h1 class="title"> CSC 651 Database Final Course Project </h1>
      		<p class="subtitle">
        		<strong>Student Name: James Day</strong><br>
        		<strong>Student Id: 918587415</strong><br>
        		<strong>Student Email: jday6@mail.sfsu.edu</strong>
      		</p>
    	</div>
	</section>

	<section class="section hero is-dark">
		<div class="container">
			<h1 class="title">Dealership Database</h1>
			<h2 class="subtitle">
				Access database here with features such as: search, insert, delete...
			</h2>
		</div>

		<div class="container">
			<div class="field">
				
			</div>
		</div>
	</section>


</body>