<body>
  <section class="hero is-dark has-text-left">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Welcome!
        </h1>
        <h2 class="subtitle">
        </h2>
      </div>
    </div>
  </section>
</body>