<body>
  <section class="hero is-dark has-text-left">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Projects Page
        </h1>
        <h2 class="subtitle">
          Welcome!
        </h2>
        <p>
          <a href="/database" class="has-text-link">
            Link to CSC 675 Final Course Project
          </a>
        </p>
      </div>
    </div>
  </section>
</body>