<body>
  <section class="hero is-dark has-text-left">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Projects Page
        </h1>
        <h2 class="subtitle">
          Welcome!
        </h2>
        <div class="block">
          <a href="/database" class="button is-info is-outlined">
            CSC675 Final Course Project
          </a>
        </div>
      </div>
    </div>
  </section>
</body>