<title>Projects</title>

<body>
<section class="section">
    <div class="container">
      <h1 class="title">Projects</h1>
      <p class="subtitle">
        <strong>Welcome</strong>!
      </p>
    </div>
  </section>
</body>