body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid black;
    text-align: center;
    margin: 30px 30px 30px 30px;
    border: 1 px solid black;
    background-image: url(/images/backgroundImageForCsProject.jpg);
    background-size: cover;
    padding: 100px;
}