<body>
    <div class="app">
        <div class="header">
            <h1 class="title is-hero">Infinite Dog App</h1>
            <div class="select is-primary is-rounded" id="breed"></div>
        </div>
        <div class="slideshow" id="slideshow"></div>
    </div>
    <script src='/javascript/dog.js'></script>
</body>
</html>